:root{
    --base-color: #B3C8CF;
    --top-bar: #89A8B2;
    --top-bar-variant: #64848f;
    --text-color-inactive: black;
    --text-color-active: white;
    --icons: rgb(18, 32, 87);
    --border: rgb(0,0,0);
}
.darkmode{
    --base-color: rgb(24, 19, 53);
    --top-bar: rgb(16, 13, 36);
    --top-bar-variant: rgb(10, 8, 26);
    --text-color-inactive: rgb(255, 255, 255);
    --text-color-active: rgb(151, 161, 251);
    --icons: rgb(255, 204, 0);
    --border: rgb(47, 40, 109);
}
::-webkit-scrollbar {
    display: none;
  }
body{
    background-color: var(--base-color);
    overflow: scroll;
}
.webname{
    position: absolute;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    font-size: 220%;
    top: 16px;
    left: 85px;
    color:var(--text-color-active);
    text-decoration: none;
}
.topbar {
    width: 95%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 47px;
    margin: auto;
    position: absolute;
    color: black;
    background-color: var(--top-bar);
    border: 6px solid var(--border);
    border-radius: 15px;
    z-index: 1;
}
.page2{
    right: 100px;
    width: 70px;
    top: 26px;
    height: 25px;
    z-index: 2;
    margin: auto;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    transform: translateX(-50%);
    color: var(--text-color-inactive);
}
.page3{
    right: 40px;
    width: 70px;
    top: 26px;
    height: 25px;
    z-index: 2;
    margin: auto;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    transform: translateX(-50%);
    color: var(--text-color-inactive);
}
#theme-switch{
    height: 50;
    width: 50;
    padding: 0;
    border-radius: 50%;
    background-color: gray;
    position:absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 26px;
    right: 40px;
}
#theme-switch svg{
    fill: var(--icons);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}
h1 {
    position: absolute;
    width: auto;
    top:-28px;
    left: 50%;
    transform: translateX(-50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 290%;
    color: var(--text-color-inactive);
    z-index: 2;
}
.topbg {
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 95px;
    margin: auto;
    position: absolute;
    z-index: 0;
    color: black;
    background: linear-gradient(to bottom, var(--top-bar-variant) 70%, rgba(255, 255, 255, 0) 100%);
}
.bottombar{
    width: 100%;
    top: 1150px;
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
    margin: auto;
    position: absolute;
    color: black;
    background-color: var(--top-bar);
}
.imgbar1{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 5.15%;
    background-color: var(--border);
    height: 50px;
    width: 15px;
    border-radius: 13px;
}